<div class="container">
   <button id="dropzoneButton" type='submit' name='btn_upload' class='col s12 btn btn-medium waves-effect teal'><i class="tiny material-icons">add_circle_outline</i>Upload Photos</button>
  {{!-- <button id="dropzoneButton" type="submit">Upload Photos</button> --}}
  <div id="dropzoneID" style="width:100%; height: 200px"></div>
  <div>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
       <button type='button' onclick="location.href = '/';" name='btn_finished' class='col s12 btn btn-medium waves-effect teal'><i class="tiny material-icons">check</i>Finished</button>
      {{!-- <button type="button" onclick="location.href = '/';">Finished</button> --}}
    </div>
  </div>